# code for formatting string

In [10]:
name="ali raza"
class_name="10th"
university_name="nust"
message="hello" + " " +  name + "\n" + "ur request isn`t accepted in" + " " + university_name + " " + "b/c u are studying in"+ " " + str(class_name) + "\n"
print(message)

hello ali raza
ur request isn`t accepted in nust b/c u are studying in 10th

# find area of circle

In [13]:
radius=5
pi=3.14
area_of_circle=pi*radius*radius
print(area_of_circle)

78.5

# creating lists

In [19]:
cities="faisalabad","islamabad","karachi","lahore","quetta"
results=93.4,95,98.7,87.4,83.02
score=45,70,54,90,42

In [20]:
print(cities)

('faisalabad', 'islamabad', 'karachi', 'lahore', 'quetta')

In [23]:
print(results)

(93.4, 95, 98.7, 87.4, 83.02)

In [24]:
print(score)

(45, 70, 54, 90, 42)